body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 48px;
  color: #2e7ad3;
  margin: 45px;
}
h2 {
  font-size: 32px;
  color: #194c90;
  margin-top: 16px;
}
p {
  font-size: 16px;
  margin: 9px 5px;
  padding: 0;
}
span {
  text-decoration: underline;
  color: #ff8000;
  font-weight: bold;
}
img {
  margin-bottom: 25px;
}

.main-area {
  background-color: #f1f1f1;
  width: 450px;
  padding: 20px;
}
